<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
      <div class="container-fluid">
        <a class="text-xl text-black font-semibold" href="/menu">GEST-ACT</a>
      </div>
    </div>
  </nav>
</body>
  <div class="pb-8">
    <div class="container m-auto px-6 md:px-12 lg:px-6">
        <div class="py-8 px-12 bg-cyan-50 rounded-2xl">
            <span class="block text-center font-medium text-cyan-700">Une Meilleure Gestion des Communes avec <span class="	text-underline-offset: auto;"> GEST-ACT</span> Copyright</span>
            <div class="mt-8 flex justify-center flex-wrap items-center gap-4 md:gap-6 lg:gap-8">
              <div class="flex items-center">
                <img class="w-9" src="assets/images/image.jpg" alt="client logo" loading="lazy" width="584" height="122">
            </div>
                <!-- <div class="flex items-center">
                    <img class="w-36" src="images/clients/microsoft.png" alt="client logo" loading="lazy" width="584" height="122">
                </div>
                <div class="flex items-center">
                    <img class="w-28" src="images/clients/myob.png" alt="client logo" loading="lazy" width="400" height="219">
                </div>
                <div class="flex items-center">
                    <img class="w-28" src="images/clients/grabyo.png" alt="client logo" loading="lazy" width="400" height="219">
                </div>
                <div class="flex items-center">
                    <img class="w-32" src="images/clients/lifegroups.png" alt="client logo" loading="lazy" width="400" height="219">
                </div>
                <div class="flex items-center">
                    <img class="w-24" src="images/clients/lilly.png" alt="client logo" loading="lazy" width="400" height="219">
                </div>
                <div class="flex items-center">
                    <img class="w-28" src="images/clients/grabyo.png" alt="client logo" loading="lazy" width="400" height="219">
                </div>
                <div class="flex items-center">
                    <img class="w-32" src="images/clients/lifegroups.png" alt="client logo" loading="lazy" width="400" height="219">
                </div> -->
            </div>
        </div>
    </div>
  </div>
</html>

